.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 71%
    right: 70%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 71%
    right: 45%
  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 71%
    right: 20%



@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
  

.banner-principal .tarjeta
  background-position: left 50% !important
.banner-principal__row .banner-principal__img
  width: 450px !important  
.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: white !important   
.banner-interno__titulo__icono i
  color: $color-primario
figcaption
  font-weight: normal
 
.banner-interno__fondo    
  background-image: url("../assets/curso/banner_interno.png") !important

.subt
  position: relative
  width: fit-content
  padding-right: 20px
  &::before
    content: ''
    position: absolute
    background-color: #14B8A6
    border-radius: 200px
    width: 100%
    height: 75%
    top: 7px
    z-index: 0
  h3, img
    z-index: 999  
    position: relative
  @media (max-width: $bp-max-xs)
    &::before
      height: 100%
      top: 1px

.subt2
  position: relative
  width: fit-content
  padding-right: 20px
  &::before
    content: ''
    position: absolute
    background-color: #14B8A6
    border-radius: 200px
    width: 100%
    height: 75%
    top: 7px
    z-index: 0
  h3, img
    z-index: 999  
    position: relative
  @media screen and (min-device-width: 767px) and (max-device-width: 1180px)
    &::before
      height: 107%
      top: -12px
    h3
      margin-left: 73px
      margin-top: -50px
      padding-bottom: 23px

// fondos

.bggris
  background-color: #F6F6F6

.bgmorado
  background-color: #E0E0FC 

.bgmoradooscuro
  background-color: #A5B0D0

.bgamarilloclaro
  background-color: #FEF5D0

.bgamarillooscuro
  background-color: #C8A311

  
.bgverde
  background-color: #14B8A6
  
.borde-redondo
  border-radius: 25px

.borde-redondo-abajo
  border-bottom-left-radius: 20px
  border-bottom-right-radius: 20px

.borde-redondo-arriba
  border-top-left-radius: 20px
  border-top-right-radius: 20px

.bgfondo1
  background: url('../assets/curso/temas/t2/fondo1.png')
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: center 
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -1.4rem

.bgfondo2
  background: url('../assets/curso/temas/t5/fondo1.png')
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: center 
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -1.4rem

.bgfondo3
  background: url('../assets/curso/temas/t6/fondo1.png')
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: center 
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -1.4rem

.bgfondo4
  background: url('../assets/curso/temas/t6/fondo2.png')
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: center 

.bgfondo5
  background: url('../assets/curso/temas/t6/fondo3.png')
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: center 

.decorado
  background: url('../assets/curso/temas/t7/fondo.png')
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: center 
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -1.4rem

// viñetas

.fa-ol
  margin-left: 0 !important
  li
    display: flex !important
    &:before
      position: relative
      margin-right: 20px
      font-size: 1.4rem

.fa-al
  margin-left: 0 !important
  li
    display: flex !important
    &:before
      position: relative
      margin-right: 19px
      font-size: 1.4rem

.lista-ul--color li > i:first-of-type 
  color: black

.lista-ul--color.peq li > i:first-of-type 
  font-size: 5px
  margin-top: 6px

.fa-check-circle:before
  content: url('../assets/curso/temas/check-amarillo.png')

.fa-check-circle.morada:before
  content: url('../assets/curso/temas/t6/check-morado.png')

.fa-check-circle.azul:before
  content: url('../assets/curso/temas/t6/check-azul.png')

// tema 1

.tarj-hover
  background-color: #A5B0D0
  transition: all 0.3s ease-out
  .tit
    background-color: #FEF5D0
    width: fit-content
    margin: 0 auto
    transition: all 0.3s ease-out
  img
    width: 210px 
    margin: 0 auto 
  &:hover
    background-color: #FDEAA1
    transition: all 0.3s ease-out
    .tit
      background-color: #14B8A6
      color: $white
      transition: all 0.3s ease-out

// tema 2

.tipo-a.acordion__activo
  background-color: #E9ECF3
  border-bottom: 0px !important
  border-radius: 24px
.acordion__accion__btn--a
  border: 3px solid #DC2626
  background-color: #DC2626
  color: #FFF
.acordion__accion__btn--b
  border: 3px solid #DC2626
  color: #DC2626
.tipo-b.acordion__activo
  background-color: #FEFAE8
  border-bottom: 0px !important
  border-radius: 24px
.bg-trans
  border-bottom: 1px solid #E8E8E8

.fa-quote-left:before
  content: url('../assets/curso/temas/t2/izq.png')
.fas.fa-quote-right:before
  content: url('../assets/curso/temas/t2/der.png')
.bloque-texto-f.color-secundario:before 
  background-color: #FDEAA1
  border-radius: 25px

.fa-chevron-right:before 
    content: url('../assets/curso/temas/t2/iz.svg')
.fa-chevron-left:before 
    content: url('../assets/curso/temas/t2/de.svg')
.tarjeta--slyder.amarilla
  background-color: #FDEAA1
  height: 100%
  box-shadow: 0 5px 6px rgba(0,0,0,0.23), 0 5px 6px rgba(0,0,0,0.23)
.custom
  .horizontal-scroll__wrapper
    padding: 1rem 0.5rem 
.custom
  .horizontal-scroll
    align-items: stretch !important

.fa-quote-left.verde:before
  content: url('../assets/curso/temas/t2/izqverde.png')
.fas.fa-quote-right.verde:before
  content: url('../assets/curso/temas/t2/derverde.png')
.bloque-texto-f.color-adicional:before 
  background-color: #E0E0FC
  border-radius: 25px

// tema3

.tabs-a__tab 
  background-color: #14B8A6
  font-size: 14px
  padding-left: 4px !important
  padding-right: 4px !important
  padding-bottom: 10px !important
  padding-top: 10px !important
  color: white
  width: 102%
  
.tabs-a.color-acento-botones .tabs-a__tab__selected
  color: white !important

.tarjeta.color-primario 
  background-color: #FEF5D0 !important

.tarjeta.color-primario * 
  color: black !important

// tema 4 y 5

.tarjeta.b1
  background-color: #1E3A8A
.tarjeta.b2
  background-color: #A5B0D0

// tema 6

.tarjeta--slyder.blanca
  background-color: white
  height: 100%
  box-shadow: 0 5px 6px rgba(0,0,0,0.23), 0 5px 6px rgba(0,0,0,0.23)
   
.cursor-pointer.crd_hover_txt
  cursor: pointer
.crd_hover_txt
  position: relative  
  padding: 0 !important
  overflow: hidden !important  
  &:hover    
    .crd_hover_txt--body   
      transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1) 
      transform: translateY(0)

  .crd_hover_txt--body
    position: absolute
    padding: 1.5rem
    bottom: 0    
    transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1)
    transform: translateY(calc( 100% - 3.85rem ))
    background-color: #A5B0D0
  
  @media (min-width:1200px) and (max-width:1400px)  
    .crd_hover_txt--body
      p
        font-size: 0.85em  

// tema 7

.tarjeta--blanca
  background-color: #FFFFFF 

.slyder-a__btn--sigt, .slyder-a__btn--atrs 
  background-image: url('../assets/curso/temas/t7/flecha_blanca.svg')
  background-color: #DC2626

.slyder-a__bullets__item
    background-color: #E8F8F6

.slyder-a__bullets__item--active 
    background-color: #14B8A6
    border-color: #14B8A6

// para que los botones no se estiren en mobile

.slyder-a__bullets__item--active 

@media (max-width: 768px) 
    .slyder-a__bullets__item 
        width: 11px
        height: 11px
        margin: 0px 0.5px

@media (max-width: 768px)  
  .slyder-a__btn--sigt, .slyder-a__btn--atrs
    width: 30px
    height: 30px